<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Default</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "reddit.com"</string>
		<key>title</key>
		<string>reddit</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Default</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "news.ycombinator.com"</string>
		<key>title</key>
		<string>Hacker News</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "github.com"</string>
		<key>title</key>
		<string>GitHub</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Default</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "twitter.com" OR URL BEGINSWITH "https://t.co"</string>
		<key>title</key>
		<string>Twitter</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "workos.quip.com"</string>
		<key>title</key>
		<string>Quip</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "calendar.google.com" OR URL CONTAINS "google.com/calendar/event"</string>
		<key>title</key>
		<string>Google Calendar</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "workos.semaphoreci.com"</string>
		<key>title</key>
		<string>Semaphore</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "app.clubhouse.io"</string>
		<key>title</key>
		<string>Clubhouse</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "workos.slab.com"</string>
		<key>title</key>
		<string>Slab</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "sentry.io/organizations/workos"</string>
		<key>title</key>
		<string>Sentry</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "hire.lever.co"</string>
		<key>title</key>
		<string>Lever</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "figma.com"</string>
		<key>title</key>
		<string>Figma</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "zeit.co/workos"</string>
		<key>title</key>
		<string>Zeit</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "my.papertrailapp.com"</string>
		<key>title</key>
		<string>Papertrail</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "work-os.slack.com"</string>
		<key>title</key>
		<string>WorkOS Slack</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "workos"</string>
		<key>title</key>
		<string>WorkOS</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "threads.com"</string>
		<key>title</key>
		<string>Threads</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "https://app.bugsnag.com"</string>
		<key>title</key>
		<string>Bugsnag</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://app.logdna.com"</string>
		<key>title</key>
		<string>LogDNA</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://app.datadoghq.com"</string>
		<key>title</key>
		<string>Datadog</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "app.asana.com"</string>
		<key>title</key>
		<string>Asana</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://airtable.com"</string>
		<key>title</key>
		<string>Airtable</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://my.pingdom.com"</string>
		<key>title</key>
		<string>Pingdom</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://stackoverflow.com"</string>
		<key>title</key>
		<string>Stackoverflow</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://docs.google.com"</string>
		<key>title</key>
		<string>Google Docs</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "dashboard.cypress.io"</string>
		<key>title</key>
		<string>Cypress</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://app.close.com"</string>
		<key>title</key>
		<string>Close</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://miro.com"</string>
		<key>title</key>
		<string>Miro</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "doppler.com"</string>
		<key>title</key>
		<string>Doppler</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "drive.google.com"</string>
		<key>title</key>
		<string>Google Drive</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "dover.io"</string>
		<key>title</key>
		<string>Dover</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL BEGINSWITH "https://workos.okta.com"</string>
		<key>title</key>
		<string>Okta</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>6</integer>
		<key>behaviourArgument</key>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>profileName</key>
			<string>Profile 1</string>
			<key>type</key>
			<string>ChoosyChromeProfileMode</string>
		</dict>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>URL CONTAINS "linear.app"</string>
		<key>title</key>
		<string>Linear</string>
	</dict>
	<dict>
		<key>behaviour</key>
		<integer>1</integer>
		<key>behaviourArgument</key>
		<string></string>
		<key>enabled</key>
		<true/>
		<key>predicate</key>
		<string>TRUEPREDICATE</string>
		<key>title</key>
		<string>Default behaviour</string>
	</dict>
</array>
</plist>
