[user]
    name = Mark Tran
    email = mark.tran@gmail.com
[alias]
    browse = !hub browse
    w = !hub browse
    compare = !hub compare

    a = "add"
    br = "branch"
    ci = "commit"
    co = "checkout"
    di = "diff"
    hist = "log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative"
    l = "log --name-status"
    st = "status --branch --short"
    sta = "stash"
[color]
    ui = auto
[difftool]
    prompt = false
[diff]
    tool = Kaleidoscope
    compactionHeuristic = 1
[core]
    quotepath = false
    excludesfile = ~/.gitignore
    pager = `test \"$TERM\" = \"dumb\" && echo cat || echo less`
[push]
    default = current
[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[github]
    user = marktran
[hub]
    http-clone = true
[magit]
    hideCampaign = true
