[user]
    name = Mark Tran
    email = mark.tran@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILw1m9kUxgh4fZir5b3g7Ei/DMQlawjRnx/sTRJdgD8h
[alias]
    browse = !hub browse
    w = !hub browse
    compare = !hub compare

    a = "add"
    br = "branch"
    ci = "commit"
    co = "checkout"
    di = "diff"
    hist = "log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative"
    l = "log --name-status"
    st = "status --branch --short"
    sta = "stash"
[commit]
	gpgsign = true
[color]
    ui = auto
[difftool]
    prompt = false
[core]
    quotepath = false
    excludesfile = ~/.gitignore
    pager = `test \"$TERM\" = \"dumb\" && echo cat || echo less`
[fetch]
    prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
    default = current
[github]
    user = marktran
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[hub]
    http-clone = true
[magit]
    hideCampaign = true
