# .rtorrent.rc : Mark Tran <mark.tran@gmail.com>

upload_rate = 800
download_rate = 2000

port_range = 44040-44040

encryption = allow_incoming,try_outgoing,enable_retry

directory = ~/downloads
session = ~/tmp/torrents
check_hash=no

schedule = watch_directory,10,10,"load_start=~/tmp/torrents/*.torrent,d.set_custom2=1"
system.method.set_key = event.download.erased,rm_complete,"d.set_directory=~/downloads/;execute=rm,-rf,$d.get_base_path="
