# .rtorrent.rc : Mark Tran <mark.tran@gmail.com>

upload_rate = 800
download_rate = 2000

port_range = 44040-44040

encryption = allow_incoming,try_outgoing,enable_retry

directory = ~/Downloads
session = ~/tmp/torrent
check_hash=no
